<nav class="navbar navbar-expand-lg secondary">
  <a class="navbar-brand" href="/">
    <img class="img-fluid" src="assets/logo.png" alt="Logo" width="100" height="100">
  </a>
  <button class="navbar-toggler end-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" (click)="open(content)"></span>
  </button>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
    <div class="d-flex">
      <div class="d-flex container justify-content-center align-items-center">
        <button type="button" mat-raised-button [color]="this.getColor('/properties')" routerLink="/properties" routerLinkActive="active" ariaCurrentWhenActive="page">All Properties</button>
        <button type="button" mat-raised-button [color]="this.getColor('/myreservations')" routerLink="/myreservations" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="this.isLoggedIn">My Reservations</button>
        <button type="button" mat-raised-button [color]="this.getColor('/myproperties')" routerLink="/myproperties" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="this.isLoggedIn && this.isOwner">My Properties</button>
        <app-search-bar></app-search-bar>
      </div>
      <button class="ms-auto end-button" type="button" mat-mini-fab color="primary" matTooltip="Login"
        (click)="this.login()" *ngIf="!this.isLoggedIn; else loggedIn">
        <mat-icon>login</mat-icon>
      </button>
      <ng-template #loggedIn>
        <button class="ms-auto end-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="this.logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item (click)="this.changeContext()">
            <mat-icon>switch_account</mat-icon>
            <span>{{ this.changeContextText }}</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </div>
  <ng-template #content let-offcanvas>
    <div class="offcanvas-body d-flex align-items-center">
      <div class="d-flex container justify-content-center align-items-center">
        <button type="button" mat-raised-button [color]="this.getColor('/properties')" routerLink="/properties" routerLinkActive="active" ariaCurrentWhenActive="page">All Properties</button>
        <button type="button" mat-raised-button [color]="this.getColor('/myreservations')" routerLink="/myreservations" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="this.isLoggedIn">My Reservations</button>
        <button type="button" mat-raised-button [color]="this.getColor('/myproperties')" routerLink="/myproperties" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="this.isLoggedIn && this.isOwner">My Properties</button>
        <app-search-bar></app-search-bar>
      </div>
      <button class="ms-auto end-button" type="button" mat-mini-fab color="primary"  matTooltip="Login"
        (click)="this.login()" *ngIf="!this.isLoggedIn; else loggedIn">
        <mat-icon>login</mat-icon>
      </button>
      <ng-template #loggedIn>
        <button class="ms-auto end-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="this.logout()">
            <mat-icon color="warn">logout</mat-icon>
            <span>Logout</span>
          </button>
          <button mat-menu-item (click)="this.changeContext()">
            <mat-icon>switch_account</mat-icon>
            <span>{{ this.changeContextText }}</span>
          </button>
        </mat-menu>
      </ng-template>
    </div>
  </ng-template>
</nav>