<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	<div class="container-fluid">
		<a class="navbar-brand" [routerLink]="'.'">
      <img class="img-fluid" src="assets/logo.png" alt="Logo" width="100" height="100">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">&#9776;</button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [className]="this.setActiveClass('/properties')" aria-current="page" routerLink="/properties"  (click)="isCollapsed = true">All Properties</a>
        </li>
        <li class="nav-item">
          <a [className]="this.setActiveClass('/myreservations')" routerLink="./myreservations"  (click)="isCollapsed = true" *ngIf="this.isLoggedIn">My Reservations</a>
        </li>
        <li class="nav-item">
          <a [className]="this.setActiveClass('/myreservations')" routerLink="./myproperties" (click)="isCollapsed = true" *ngIf="this.isLoggedIn && this.isOwner">My Properties</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control" list="datalistOptions" id="exampleDataList" [formControl]="selectionControl" placeholder="Choose your destination">
        <datalist id="datalistOptions">
          <option *ngFor="let destination of this.destinations" [value]="destination">{{ destination }}</option>
        </datalist>
        <button class="btn btn-outline-success" (click)="this.applyFilter()">
          <mat-icon>search</mat-icon>
        </button>
        <button class="btn btn-outline-success" (click)="openFilterModal()">
          <mat-icon>filter_alt</mat-icon>
        </button>
      </form>
      <button class="btn btn-outline-success" type="submit" matTooltip="Login" (click)="this.login()" *ngIf="!this.isLoggedIn; else loggedIn"><mat-icon>login</mat-icon></button>
      <ng-template #loggedIn>
        <li class="nav-item" ngbDropdown display="dynamic">
          <a ngbDropdownToggle aria-labelledby="dropdownBasic1" class="btn btn-outline-success" id="dropdownBasic1">
            <mat-icon>account_circle</mat-icon>
          </a>
          <ul ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <li><a ngbDropdownItem (click)="this.logout()">
              <mat-icon color="warn">logout</mat-icon>
              <span>Logout</span>
            </a></li>
            <li><a ngbDropdownItem (click)="this.changeContext()">
              <mat-icon>switch_account</mat-icon>
              <span>{{ this.changeContextText }}</span>
            </a></li>
          </ul>
        </li>
      </ng-template>
      
    </div>
  </div>
</nav>