.navbar {
 /* background-color: #e7dfd8;*/
}

.navbar-brand {
  padding-left: var(--bs-navbar-brand-padding-y);
  margin-left: var(--bs-navbar-brand-margin-end);
}

::ng-deep .offcanvas.offcanvas-top{
  max-height:120px !important;
  background-color: #e7dfd8;
}

::ng-deep .cdk-overlay-container {
  z-index: 1500 !important;
}
.end-button {
  margin-right: var(--bs-navbar-brand-margin-end);
}
.Login button{
  width:50px; 
  height: 38px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  font-size: 14px;
  background-color: white;
  
}

.Login {
  position:absolute;
  margin-left: 70vw;
}


button.LoginForme {
  
  background-color: white;

  height: 38px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  font-size: 15px;
  cursor: pointer;
}
