.navbar {
  background-color: #e7dfd8;
}

.navbar-brand {
  padding-left: var(--bs-navbar-brand-padding-y);
  margin-left: var(--bs-navbar-brand-margin-end);
}

::ng-deep .offcanvas.offcanvas-top{
  max-height:120px !important;
  background-color: #e7dfd8;
}

::ng-deep .cdk-overlay-container {
  z-index: 1500 !important;
}
.navbar-toggler {
  margin-right: var(--bs-navbar-brand-margin-end);
}