<div class="reservation-card">
  <div class="row">
  <div class="col-md-3">
    <img src="{{ this.property.image_url }}" alt="Reservation image" class="img-thumbnail photo-thumbnail">
  </div>

  <div class="col-md-7 infos">
    <h1>{{ this.property.title }}</h1>
    <p><strong>Location:</strong> {{ this.property.city }}</p>
    <p><strong>Area:</strong> {{ this.property.surface_area }} m²</p>
    <p><strong>Arrival:</strong> {{ this.reservation.start_date | date: 'dd/MM/yyyy' }} </p>
    <p><strong>Departure:</strong> {{ this.reservation.end_date | date: 'dd/MM/yyyy' }} </p>
    <p><strong>Status: </strong><span [ngClass]="this.textClass">{{ this.status }}</span></p>
    <p><strong>{{ this.ratingDescription }}:</strong> {{ this.ratingText }}</p>
  </div>
  <div class="col-md-1">
    <div class="container overflow-hidden">
      <div class="row gy-2">
        <button *ngIf="this.canConfirm" type="button" class="btn col-12 btn-info" (click)="this.submitConfirm()">
          Confirm
        </button>
        <button *ngIf="this.canReject" type="button" class="btn col-12 btn-danger" (click)="this.submitReject">
          Cancel
        </button>
        <button *ngIf="this.status === 'Completed' || this.status === 'Rejected' || this.status === 'Cancelled'" class="btn col-12 btn-primary">
          Review
        </button>
        <button type="button" class="btn col-12 btn-secondary" (click)="this.goToProperty()">
          Details
        </button>
      </div>
    </div>
  </div>
</div>
