<div class="reservation-card">
  <div class="row">
  <div class="col-md-3">
    <img src="{{ this.property.image_url }}" alt="Reservation image" class="img-thumbnail photo-thumbnail">
  </div>
  
  <div class="col-md-7 infos">
    <h1>{{ this.property.title }}</h1>
    <p><strong>Lieu :</strong> {{ this.property.city }}</p>
    <p><strong>Surface du logement :</strong> {{ this.property.surface_area }} m²</p>
    <p><strong>Arrivée :</strong> {{ this.reservation.start_date | date: 'dd/MM/yyyy' }} </p>
    <p><strong>Départ :</strong> {{ this.reservation.end_date | date: 'dd/MM/yyyy' }} </p>
    <p> <strong>Ma note : </strong> ...</p>
    <div class="col-md-2 action-btn">
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn no-cursor" [ngClass]="this.buttonClass">
          {{ this.status }}
        </div>
        <div  class="col-md-3 d-flex align-items-center justify-content-center">
          <button *ngIf="this.status === 'Validé' || this.status === 'En cours'" type="button" class="btn btn-danger">
            Cancel
          </button>
        </div>
       
      </div>
    </div>
    
  </div>
</div>
</div>