.app-body {
  min-height: 100vh;
  margin:0;
  display:flex;
  flex-direction:column;
  height: 100%;
}

.sticky-top {
  z-index: 700 !important;
}

.sticky-bottom {
  z-index: 700 !important;
}

.router-outlet-app {
  min-height: 100vh;
}