.SearchBar {
    width: 300px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #f7eeee;
    font-size: 15px;
    cursor: pointer;

  

}


.Boutton button {
   
    height: 38px;
    border-radius: 6px;
    border: 1px solid #cccccc;
    font-size: 15px;
    cursor: pointer;

}





