<form id="search-form">
    <div class="input-group Boutton">
      <input type="text" class="form-control-rounded SearchBar" id="search-input" name="search" placeholder="To where? " autocomplete="on" list="search-suggestions">
      <datalist id="search-suggestions">
        <option value="Paris">
        <option value="Toulouse">
        <option value="Lyon">
      </datalist>
      <button> Search<i class="fas fa-search"></i></button>
      <button (click)="openFilterModal()">
        Filter
      </button>
    </div>
    
  </form>
  