





<form id="search-form">
    <div class="input-group">
      <input type="text" id="search-input" name="search" placeholder="Find your destination!..." autocomplete="on" list="search-suggestions">
      <datalist id="search-suggestions">
        <option value="Paris">
        <option value="Toulouse">
        <option value="Lyon">
      </datalist>
      <button> Search<i class="fas fa-search"></i></button>
      <button (click)="openFilterModal()">
        Filter
      </button>
    </div>
    
  </form>
  