<div class="reviews-container">
  <h1 class="reviews-title">Reviews</h1>
  <hr class="title-underline">
  <div class="review">
    <div class="review-header">
      <span class="review-author">John Doe</span>
      <span class="review-date">12/04/2023</span>
      <div class="review-rating">
        <i class="fa-solid fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="review-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend risus a turpis malesuada, sit amet tristique justo aliquam. Sed vel volutpat sapien. Vivamus eget nunc vel tellus lobortis sollicitudin at eu ipsum. Sed tempor efficitur lectus, ac dictum purus faucibus eu. Nulla facilisi. Sed sed odio eget purus malesuada pulvinar. Pellentesque accumsan risus quis velit ullamcorper efficitur. Aliquam interdum ipsum non metus fringilla, non aliquam dolor suscipit.</p>
    </div>
  </div>
  <div class="review">
    <div class="review-header">
      <span class="review-author">Jane Smith</span>
      <span class="review-date">10/04/2023</span>
      <div class="review-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
      </div>
    </div>
    <div class="review-body">
      <p>Suspendisse at est at lacus fringilla ullamcorper nec non augue. Aliquam gravida mauris id ex commodo, id sagittis ipsum interdum. Sed euismod vitae odio sed aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas pulvinar sapien libero, ut vestibulum nisi pulvinar id. Nullam vitae neque euismod, commodo est sit amet, pulvinar quam. Suspendisse potenti. Suspendisse nec massa lorem.</p>
    </div>
  </div>
  <div class="review">
    <div class="review-header">
      <span class="review-author">David Johnson</span>
      <span class="review-date">08/04/2023</span>
      <div class="review-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <div class="review-body">
      <p>Fusce euismod in nisi sed imperdiet. Maecenas vestibulum nisl ut turpis sagittis mollis. Donec ultricies, sapien id imperdiet ultricies, mauris odio faucibus dolor, a consequat metus augue at arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam at feugiat magna. Ut euismod nunc eget tristique hendrerit. Praesent sed ante neque. </p>
    </div>
  </div>
</div>

