<button id="mon-bouton" class="bouton-primary" (click)="openFilterModal(template)">
  Filter
</button>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Filtres</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
<div class="form-group">
  <!--
  <label for="prix-range">Fourchette de prix :</label>
  -->
  <div class="range-input">
    <input type="range" id="prix-min" (input)="onPrixMinChange($event)" (change)="onPrixMinChange($event)" min="0" max="1000" step="10">
    <input type="range" id="prix-max" (input)="onPrixMaxChange($event)" min="0" max="1000" step="-10" style="transform: scaleX(-1);">
  </div>
  <div class="range-labels">
    <span>{{rangePrixMin}} $</span>
    <span>{{rangePrixMax}} $</span>
  </div>
</div>







      <div class="form-group">
        <label for="type-de-bien">Type de bien :</label>
        <select class="form-control" id="type-de-bien">
          <option value="">-- Sélectionner un type de bien --</option>
          <option *ngFor="let type of types" [value]="type">{{ type }}</option>
        </select>
      </div>
      <div class="form-group">
        <!--
        <label for="dates-de-disponibilite">Dates de disponibilité :</label>
        -->
        <input type="date" class="fo rm-control" >
        <span>à</span>
        <input type="date" class="form-control" >
      </div>

      <button type="button" class="btn btn-primary" >Appliquer les filtres</button>
    </form>
  </div>
</ng-template>
