.range-input {
    display: flex;
  }
  
  .range-input input {
    width: 50%;
    margin-right: 10px;
  }
  
  .range-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  