<div class="modal-header">
  Add a new property
</div>
<div class="modal-body">
  <form [formGroup]="this.propertyGroup">
    <div class="container">
      <div class="row">
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" formControlName="title"  required/>
          <mat-error *ngIf="this.propertyGroup.controls['title'].hasError('required')">
            Title is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Give a description to your property</mat-label>
          <textarea matInput placeholder="Description" formControlName="description"required></textarea>
          <mat-error *ngIf="this.propertyGroup.controls['description'].hasError('required')">
            Description is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <label class="col-lg-5">Category</label>
        <div class="col-lg-7">
          <mat-button-toggle-group formControlName="propertyCategory" name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="House">House</mat-button-toggle>
            <mat-button-toggle value="Apartment">Apartment</mat-button-toggle>
            <mat-button-toggle value="Room">Room</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="row">
        <mat-form-field>
          <mat-label>Address of your property</mat-label>
          <input matInput placeholder="Address" formControlName="address" required/>
          <mat-error *ngIf="this.propertyGroup.controls['address'].hasError('required')">
            Address is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>City</mat-label>
            <input matInput placeholder="City" formControlName="city" required/>
            <mat-error *ngIf="this.propertyGroup.controls['city'].hasError('required')">
              City is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>State</mat-label>
            <input matInput placeholder="State" formControlName="state"/>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field>
            <mat-label>Country</mat-label>
            <input matInput placeholder="Country" formControlName="country" required/>
            <mat-error *ngIf="this.propertyGroup.controls['country'].hasError('required')">
              Country is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Price</mat-label>
            <input matInput placeholder="Price" formControlName="price" required/>
            <mat-error *ngIf="this.propertyGroup.controls['price'].hasError('required')">
              Price is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Surface Area</mat-label>
            <input matInput placeholder="Surface Area" formControlName="surfaceArea"/>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Floors</mat-label>
            <input matInput placeholder="Floors" formControlName="floors" required/>
            <mat-error *ngIf="this.propertyGroup.controls['floors'].hasError('required')">
              Floors is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-3">
          <mat-form-field>
            <mat-label>Capacity</mat-label>
            <input matInput placeholder="Capacity" formControlName="capacity" required/>
            <mat-error *ngIf="this.propertyGroup.controls['capacity'].hasError('required')">
              Capacity is required
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="container">
            <div class="row">
              <div class="col">
                <mat-form-field class="col-lg-10">
                  <mat-label>URL to a photo of your property</mat-label>
                  <input matInput placeholder="Image URL" formControlName="imageUrl1"/>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col-lg-10">
                  <mat-label>URL to a photo of your property</mat-label>
                  <input matInput placeholder="Image URL" formControlName="imageUrl2"/>
                </mat-form-field>
              </div>
              <div class="col">
                <mat-form-field class="col-lg-10">
                  <mat-label>URL to a photo of your property</mat-label>
                  <input matInput placeholder="Image URL" formControlName="imageUrl3"/>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <mat-form-field appearance="fill">
            <mat-label>Construction Date</mat-label>
            <input matInput formControlName="constructionDate" [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="this.submitForm()">
    {{ this.selectedProperty ? 'Update' : 'Add' }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="this.closeModal()">Close</button>
</div>