<footer class="bg-light">
  <a href="#" class="back-to-top"></a>
  <div class="footer-container">
    <div class="left">
      <img class="m-2 ms-3" src="assets/efrei.png" alt="Logo" height="50">
    </div>
    <div class="language me-3">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a (click)="this.openAboutUs()">About us</a></li>
        <li><a (click)="this.openPolicy()">Privacy Policy</a></li>
        <li>
          <select>
            <option value="fr">Français</option>
            <option value="en" selected>English</option>
            <option value="es">Español</option>
            <option value="Kb">Kabyle</option>
            <option value="Ar">Arabic</option>
          </select>
        </li>
      </ul>
    </div>
  </div>
</footer>
