<div>
  <div *ngIf="(this.ownerPropertyLoadingObservable$ | async) || (this.reservationLoadingObservable$ | async); else loaded">
    <div class="spinner-border" role="status"></div>
  </div>
  <ng-template #loaded>
    <div class='d-flex flex-column mb-3'>
      <div class='p-2' *ngFor='let reservation of this.reservations; index as i'>
        <ng-template [ngIf]="this.propertyExists(reservation.property_id)">
          <app-reservation-card
            [reservation]='reservation'
            [property]='this.getProperty(reservation.property_id)'>
          </app-reservation-card>
        </ng-template>
      </div>
    </div>
  </ng-template>
</div>
  