.button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .btn-validated{
    background-color: #4CAF50;

  }
  .btn-cancelled {
    background-color: #f44336;
  }
  
  .btn-rejected {
    background-color: #ff9800;
  }
  
  .btn-completed {
    background-color: #2196f3;
  }
  .btn-in-validation{
    background-color: #e6e600  ;
    
  }
  