<div class="property-card">
  <div class="row ">
    <div class="col-md-3">
      <img src="{{property.imageUrl1}}" alt="Property image" class="img-thumbnail photo-thumbnail">
    </div>
    <div class="col-md-6 d-flex align-items-start flex-column infos">
      <h3>{{property.title}}</h3>
      <p class="mb-2">{{property.description}}</p>
      <p class="mb-2"><strong>Location :</strong> {{property.city}}</p>
      <p class="mb-2"><strong>Area :</strong> {{property.surfaceArea}} m²</p>
      <p class="mb-2"><strong>Capacity:</strong> {{property.capacity}} people</p>
      <p class="mb-2"><strong>Price :</strong> {{property.price}} $</p>
      <p class="mb-2"><strong>Rating:</strong> {{ this.rating }}</p>

      <div class="action-btn">
        <button class="btn btn-primary" (click)="openEditForm()"><mat-icon>edit</mat-icon></button>
        <button class="btn btn-danger" (click)="this.deleteProperty()"><mat-icon>delete</mat-icon></button>
      </div>

  </div>
</div>
</div>
