<div class="property-card">
  <div class="row ">
    <div class="col-md-3">
      <img src="{{property.image_url}}" alt="Property image" class="img-thumbnail photo-thumbnail">
    </div>
    <div class="col-md-6 d-flex align-items-start flex-column infos">
      <h3>{{property.title}}</h3>
      <p class="mb-2">{{property.description}}</p>
      <p class="mb-2"><strong>Lieu :</strong> {{property.city}}</p>
      <p class="mb-2"><strong>Surface :</strong> {{property.surface_area}} m²</p>
      <p class="mb-2"><strong>Capacité:</strong> {{property.capacity}} personne(s)</p>
      <p class="mb-2"><strong>Prix :</strong> {{property.price}} €</p>
      <p class="mb-2"><strong>Rating:</strong> {{ this.rating }}</p>

      <div class="action-btn">
        <button class="btn btn-primary" (click)="openEditForm()">Modifier</button>
        <button class="btn btn-danger" (click)="this.deleteProperty()">Supprimer</button>
      </div>

  </div>
</div>
