.photos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-photo {
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .maisons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
  }
  
  .small-photo {
    max-width: 100px;
    cursor: pointer;
  }
  
  #next-btn {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #4c68af;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #next-btn:hover {
    background-color: #4c68af;
  }
  
  //cadre de reservation
  .reservation-container {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    width: 50%;
    margin-left: auto; /* pousse le bloc vers la droite */

  }
  
  .date-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .nb-voyageurs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  