<div class="social-media">
  <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
</div>
<div class="right m-3">
  <h2>Team Names:</h2>
  <ul>
    <li style="display: inline-block;">Ratiba KADI</li>
    <li style="display: inline-block;">Kerim HUDAYBERDIYEV</li>
    <li style="display: inline-block;">Viet NGUYEN</li>
    <br>
    <li style="display: inline-block;">Euphraim LUZOLO</li>
    <li style="display: inline-block;">Zain ZAFAR</li>
    <li style="display: inline-block;">Meryem KOSE</li>
    <br>
    <li style="display: inline-block;">Malak ZEMRANI</li>
    <li style="display: inline-block;">Shayma KHELLADI</li>
    <li style="display: inline-block;">Ousseynou SAKHO</li>
    <br>
  </ul>
</div>
<div class="contacts m-3">
  <h2> Contact:</h2>
  <ul>
    <li>contact@welhome.com</li>
    
    <li>+ 44 7 58 03 44 65</li>
  
    <li>15th Oxford Street, Oxford, England</li>
    <br>
  </ul>
</div>
<div class="bloc footer-schedule m-3">
  <h3>TimeSheet</h3>
  <ul class="schedule-list d-flex justify-content-evenly">
    <li>✔️ Mon 10-19</li>
    <li>✔️ Tue 10-19</li>
    <li>✔️ Wen 10-19</li>
    <li>✔️ Thu 10-19</li>
    <li>✔️ Fri 10-19</li>
    <li>❌ Sat closed</li>
    <li>❌ Sun closed</li>
  </ul>
</div>