<div class="social-media">
  <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a>
  <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
</div>
<div class="right m-3 container">
  <div class="h4">WELHOME Teams:</div>
  <ul class="row">
    <li class="col-md-3" style="margin: auto;">Kerim HUDAYBERDIYEV</li>
    <li class="col-md-3" style="margin: auto;">Ratiba KADI</li>
    <li class="col-md-3" style="margin: auto;">Shayma KHELLADI</li>
    <li class="col-md-3" style="margin: auto;">Meryem KOSE</li>
    <li class="col-md-3" style="margin: auto;">Euphraim LUZOLO</li>
    <li class="col-md-3" style="margin: auto;">Viet NGUYEN</li>
    <li class="col-md-3" style="margin: auto;">Ousseynou SAKHO</li>
    <li class="col-md-3" style="margin: auto;">Jessy Vy</li>
    <li class="col-md-3" style="margin: auto;"></li>
    <li class="col-md-3" style="margin: auto;">Zain ZAFAR</li>
    <li class="col-md-3" style="margin: auto;">Malak ZEMRANI</li>
    <li class="col-md-3" style="margin: auto;"></li>
  </ul>
</div>
<div class="m-3">
  <div class="h4">Contacts:</div>
  <ul>
    <li>contact@welhome.com</li>
    
    <li>+ 44 7 58 03 44 65</li>
  
    <li>15th Oxford Street, Oxford, England</li>
    <br>
  </ul>
</div>
<div class="bloc footer-schedule m-3">
  <div class="h4">Working hour:</div>
  <ul class="schedule-list d-flex justify-content-evenly">
    <li>✔️ Mon 10-19</li>
    <li>✔️ Tue 10-19</li>
    <li>✔️ Wen 10-19</li>
    <li>✔️ Thu 10-19</li>
    <li>✔️ Fri 10-19</li>
    <li>❌ Sat closed</li>
    <li>❌ Sun closed</li>
  </ul>
</div>