<div>
  <button type='button' class='btn btn-primary' (click)="this.openAddForm()">Add</button>
  <div *ngIf="this.ownerPropertyLoadingObservable$ | async; else loaded">
    <div class="spinner-border" role="status"></div>
  </div>
  <ng-template #loaded>
    <div class='d-flex flex-column mb-3'>
      <div class='p-2' *ngFor='let property of properties;'>
        <app-host-property-card
          [property]='property'>
        </app-host-property-card>
      </div>
    </div>
  </ng-template>
</div>
