<div class="m-auto">
  <div *ngIf="this.propertyLoadingObservable$ | async; else loaded">
    <div class="spinner-border" role="status"></div>
  </div>
  <ng-template #loaded>
    <div class="m-auto">
      <div class="d-flex flex-wrap justify-content-start">
        <ng-container *ngFor="let property of propertyShow; index as i">
          <div class="mr-3 bloc-left">
            <app-property-card [property]="property"></app-property-card>
          </div>
        </ng-container>
      </div>
    </div>
  </ng-template>
  
  <mat-paginator #paginator
    class="demo-paginator"
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex"
    aria-label="Select page">
  </mat-paginator>
</div>
