<div class='main-body'>
  <app-search-bar></app-search-bar>
  <app-filter></app-filter>

  <!--
  <div class="d-flex flex-wrap">
    <div *ngFor="let property of properties; index as i" class="mr-3  bloc-left">
      <app-property-card
        [property]="property">
      </app-property-card>
    </div>
  </div>
-->
  <div *ngIf="this.propertyLoadingObservable$ | async; else loaded">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <ng-template #loaded>
    <div class="d-flex flex-wrap">
      <ng-container *ngFor="let property of properties; index as i">
        <div class="mr-3 bloc-left">
          <app-property-card [property]="property"></app-property-card>
        </div>
        <div class="mr-3 bloc-left">
          <app-property-card [property]="property"></app-property-card>
        </div>
        <div class="mr-3 bloc-left">
          <app-property-card [property]="property"></app-property-card>
        </div>
        <div class="mr-3 bloc-left">
          <app-property-card [property]="property"></app-property-card>
        </div>
      </ng-container>
    </div>
  </ng-template>
</div>
