<div class="modal-header">
  <h5 class="modal-title">Add Review</h5>
  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="rating">Rating:</label>
      <div class="rating">
    <span (click)="setRating(1)" [ngClass]="{'selected': rating >= 1}">
      <i class="bi bi-star"></i>
    </span>
        <span (click)="setRating(2)" [ngClass]="{'selected': rating >= 2}">
      <i class="bi bi-star"></i>
    </span>
        <span (click)="setRating(3)" [ngClass]="{'selected': rating >= 3}">
      <i class="bi bi-star"></i>
    </span>
        <span (click)="setRating(4)" [ngClass]="{'selected': rating >= 4}">
      <i class="bi bi-star"></i>
    </span>
        <span (click)="setRating(5)" [ngClass]="{'selected': rating >= 5}">
      <i class="bi bi-star"></i>
    </span>
      </div>
      <input type="hidden" id="rating" formControlName="rating" [value]="rating">
    </div>


    <div class="form-group">
      <label for="review_text">Review:</label>
      <textarea class="form-control" id="review_text" formControlName="review_text" required></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image:</label>
      <input type="file" class="form-control" id="image" (change)="handleImageUpload($event)">
    </div>
  </form>
</div>
<div *ngIf="reviewAdded" class="alert alert-success" role="alert">
  Review added successfully!
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
  <button type="submit" class="btn btn-primary" [disabled]="!reviewForm.valid" (click)="onSubmit()">Submit</button>
</div>


